.task-list{
    display: flex;
    list-style: none;
    justify-content: space-between;
    
}
.container{
    width: 50%;
    margin: 20% auto;
    /* margin-top: 20%; */
    background-color: aqua;
    color: #fff;

}
.todo{
   width: 50%;
    margin:  auto;  
}