<app-navbar></app-navbar>
<br>
<!-- @for(product of productList; track product.id){
    <ul>
        <li>{{product.title}}</li>
        <li>{{product.id}}</li>
    </ul>
} -->


<form #userForm="ngForm" (ngSubmit)="addUser( userForm.value)">
  <input type="text" placeholder="Enter Name" name="name" [ngModel]="selectedUser?.name">
  <br><br>
  <input type="email" placeholder="Enter email" name="email" [ngModel]="selectedUser?.email">
  <br><br>    
  <input type="number" placeholder="Enter Age" name="age" [ngModel]="selectedUser?.age">
  <br><br>

  @if(!selectedUser){
    <button>Add User</button>
  }@else{
    <button>Update User</button>
  }
</form>

@for(user of users; track user.id){
    <ul>
        <li>{{user.name}}</li>
        <li>{{user.age}}</li>
        <li>{{user.email}}</li>
        <li><button (click)="deleteUser(user.id)">Delete</button></li>
        <li><button (click)="selectUser(user.id)">Update User</button></li>
    </ul>
}